Code for overlay ps4:-

/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base3cm.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(disconnected3cm.png);
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(triggers3cm.png);
    opacity: 0;
}

.ds4 .bumper {
    width: 99px;
    height: 23px;
    background: url(bumper3cm.png) no-repeat;
    opacity: 0;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks3cm.png);
    height: 94px;
    width: 94px;
}

.ds4 .face {
    background: url(dpad3cm.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px;
    height: 52px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px;
    height: 36px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/